@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vectis Auctions</h1>
    <p class="lead">
        Packing App
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Details column 1</h2>
        <p>
           Space for something 

        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Details column 2</h2>
        <p>
            More space in another column
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Details column 3</h2>
        <p>And finally :)</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>