@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Vectis Packing Application</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Vectis Packing</h2>
        <p>
            Click on Packing tab <br />
            Select your Name from drop down menu <br />
            Select Auction Type <br />
            Choose Customer for Auction Type <br />
            Get Details of Customer Lots for packing <br />

        </p>
    </div>

</div>